{% extends "layout.html" %}
{% block div %}
<header class="masthead" style="background-image: url('https://gavinlaurencerouille.files.wordpress.com/2012/03/prophets5.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Statistics for US states</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <center>
                <form class="form-inline my-2 my-lg-0" method="post" action="/usstates">
                    <input class="form-control mr-sm-2" type="search" name="sname" placeholder="State Name" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </center>
            <br><br>
            {% if data2 %}
                <center>
                <h3 style = "color: CadetBlue"> Statistics for {{data2['state']}}</h3>
                </center>
                <br><br>
                <ul class = "list-group" style="list-style-type:none; color: DimGrey">
                    <li class="list-group-item">Total Cases : {{data2['cases']}}</li>
                    <li class="list-group-item">Active Cases : {{data2['active']}}</li>
                    <li class="list-group-item">Deaths : {{data2['deaths']}}</li>
                    <li class="list-group-item">Cases reported today : {{data2['todayCases']}}</li>
                    <li class="list-group-item">Deaths reported today : {{data2['todayDeaths']}}</li>
                    <li class="list-group-item">Tests : {{data2['tests']}}</li>
                    <li class="list-group-item">Tests per one million : {{data2['testsPerOneMillion']}}</li>
                </ul>
                <br><br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}